@import url("https://fonts.googleapis.com/css2?fami1y=Roboto:wght@100;300;400;500;700&display—swap");


* {
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.2s linear;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 4rem;

  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: #ccc;
}
html::-webkit-scrollbar-thumb {
  background: #8b8b8b;
}

body {
  background: #fff;
}
section {
  padding: 2rem 7%;
  color: gainsboro;
}

.btn,
.event-card .button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  color: #000;
  background: #ffffff5e;
  cursor: pointer;
  border: 0.2rem solid #282828;
  border-radius: 1.9rem;
  transition: all 0.3s ease;
  font-weight: 600;
}

.btn:hover,
.event-card .button:hover {
  background: #282828;
  border: 0.2rem solid #282828;
  color: #fff;
}

.heading {
  text-align: center;
  color: #13131a;
  padding-bottom: 3.5rem;
  font-size: 4rem;
  text-transform: capitalize;
}


.header {
  background: #4c8da7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.logo img {
  height: 3.5rem;
}

.header .navbar a {
  color: #fff;
  margin: 1rem 0;
  font-size: 1.8rem;
  color: #fff;
  padding: 7px 10px;
  text-transform: capitalize;
}

.header .navbar a:hover {
  background: #65b3c1;
  border-radius: 18px;
  opacity: 1;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}



#menu-btn {
  display: none;
  color: #fff;
}


/* =========================== Home =========================== */

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url("img/home.jpg");
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60vw;
}

.home .content h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #000;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #000;
}


/* ============================= About ============================= */

.about .row {
  display: flex;
  align-items: center;
  background: #fff;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
  color: #13131a;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #13131a;
  padding: 1rem 0;
  line-height: 1.8;
}
/* ============================== products ============================== */

.container {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
  margin: auto;
}

.container .main-card {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}

#two:checked~.main-card {
  margin-left: -100%;
}

.container .main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}

.main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards .card .content .img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 3px;
  margin-bottom: 14px;
}

.card .content .img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card .content .name {
  margin-top: 0;
  font-size: 20px;
  font-weight: 800;
}

.card .content .cart{
  margin-top: 1rem;
  padding: 1rem;
  border: .2rem solid red;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #318ef2;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button label.active {
  width: 35px;
}

#one:checked~.button .one {
  width: 35px;
}

#one:checked~.button .two {
  width: 15px;
}

#two:checked~.button .one {
  width: 15px;
}

#two:checked~.button .two {
  width: 35px;
}

input[type="radio"] {
  display: none;
}


/* ============================== practices ============================== */
#container-practice {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

#container-practice h2 {
  text-align: center;
  margin-bottom: 20px;
}

#farmingPractices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.practice-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.218);
  /* border: 2px solid #cccccccb; */
  flex: 1 1 30rem;
}

.practice-card h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 18px;
  text-align: center;
}

.practice-card p {
  margin-bottom: 5px;
  font-size: 13px;
}

/* ============================== events ============================== */

#event-section {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

#event-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

#event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.218);
  flex: 1 1 30rem;
}


.event-card h3 {
  margin-top: 0;
  font-size: 18px; 
}

.event-card p {
  margin-bottom: 10px;
  font-size: 12px; 
}

.event-card .date {
  font-weight: bold;
  font-size: 14px; 
}

.event-card .location {
  color: #666;
  font-size: 14px; 
}


.event-card .button-container {
  text-align: center;
}


/* ============================== blog ============================== */

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.blog-box {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.333);
  padding: 20px;
  flex: 1 1 30rem;
  margin: auto;
  border-radius: 5px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.blog-box:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  transform: scale(1.005);
}


.blog-box .image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.blog-box  h3 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.blog-box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #000;
}

.blog-box a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.blog-box a:hover {
  text-decoration: underline;
}


/* ============================== contact ============================== */

.accordion{
  display: flex;
  max-width: 1010px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
}
.accordion .image-box{
  height: 360px;
  width: 300px;
}
.accordion .image-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.accordion .accordion-text{
  width: 60%;
}
.accordion .accordion-text .title{
  font-size: 35px;
  font-weight: 600;
  color: #7d2ae8;
  font-family: 'Fira Sans', sans-serif;
}
.accordion .accordion-text .faq-text{
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
  display: none;
}
.accordion .accordion-text li{
  list-style: none;
  cursor: pointer;
}
.accordion-text li .question-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-text li .question-arrow .question{
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
  transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li .line{
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}
.accordion-text li.showAnswer p{
  display: block;
}


/* ============================== footer ============================== */
.footer-distributed {
  background: #303030;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px 30px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #65b3c1;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #ccc;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #ccc;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


.credit{
  margin-top: 2rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.credit a{
  text-decoration: none;
  color: #42bed4;
}


/* ========================== Media query ============================= */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }

  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #00000099;
    width: 30rem;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #ffffff;
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }

  .accordion{
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .accordion .image-box{
    height: 360px;
    width: 220px;
  }
  .accordion .accordion-text{
    width: 63%;
  }
}





@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }

  .container {
    padding: 20px;
  }

  .home .content{
    width: 90vw;
  }
  

  .accordion{
    flex-direction: column;
  }
  .accordion .image-box{
    height: 360px;
    width: 300px;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }
  .accordion .accordion-text{
    width: 100%;
    margin-top: 30px;
  }
  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  
}

@media only screen and (max-width: 575px) {

  html {
    font-size: 46.87%;
  }

  section {
    padding: 4rem 1.5rem 4rem 1.5rem;
  }

  .home .content {
    max-width: 90vw;
  }

  .main-card .cards .card {
    width: 100%;
  }


  .accordion{
    padding: 25px;
  }
  .accordion-text li p{
    width: 98%;
  }

  .product-container {
    width: 100%;
  }

  #productSection {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    width: 150px;
  }
  
 

}